

#logo {
    height: 40px;
}

.container-fluid{
    background: #ffffff center center no-repeat;
    background-size: cover;
    opacity:1;
    height: 100%;
    font-family:Arial, Helvetica, sans-serif;
}


#footer-main, #footer-main a {
    background:#373A3C;
    color:#FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    height: 90px;
}

.modal-backdrop {
    position: relative;
    display:none;

    /* ... */
}

.modal {
    z-index: 1041;
}

.navbar {
    z-index: 1040;
    margin: 0px;
    height: 52px;
}

.container-fluid {
    padding: 0px 5px 0px 5px;
}

#editButton{
    margin: 0px 10px 0px 30px;
}

#deleteButton{
}

.badge{
    float: right;
    position: relative;

}
#quizListSideBar{
    margin: 0 auto;
    margin-top: 5px;
    border-radius: 10px;
    border: 1px solid grey;
    float: left;
    height: 99%;
    position: relative;
    padding: 0px 0px 0px 0px;
}
#quizEditWindowTopContainer{
    margin: 0px 0px 20px 0px;
    border-radius: 10px;
    border: 1px solid grey;
    padding: 0px 0px 0px 0px;
}
#questionWindow{
    margin: 20px 0px 10px 0px;
    border-radius: 10px;
    padding: 0px 0px 0px 0px;
}

.list-group-item:hover{
    background-color: lightgray;
}

.form-control.txt-Question{
    margin: 5px;
    width: 50%;
}

#sendToEmailButton{
    margin: 0px 0px 0px 5px;
}

.quizSetupListGroup{
    margin: 0px;
    overflow:hidden;
}
.quizSetupDiv{
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

#quizSetupDeleteButton{
    margin: 8px 0px 0px 0px;
    padding:2px;
}